<mat-toolbar color="primary">                        
  <span>Github Profile Viewer</span>  
</mat-toolbar>


<div class="content" style="max-width: 400px;margin: 20px auto;">
  

    <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput placeholder="Git hub user name"  [(ngModel)]="name" (keyup.enter)=search() >
  </mat-form-field>
  <br>
    <button mat-button color="primary" (click)="search()">Search</button>
    <mat-spinner *ngIf="load"></mat-spinner>

    <mat-toolbar color="warn" *ngIf=errmsg>  
        <span>No Data To Display</span>  
    </mat-toolbar>
    
    


<div *ngIf="userdetail">

  <mat-card class="example-card">
    <mat-card-header>
    <mat-card-title>{{userdetail.name}}</mat-card-title>
    <mat-card-subtitle>{{userdetail.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{userdetail.avatar_url}}" alt="Profile pic">
   <a href={{userdetail.html_url}} target="blank"> <button mat-raised-button color="primary">View Profile</button></a> 
  </mat-card>
</div>

</div>